/***************************/
/********** RESET **********/
/***************************/
*,
::before,
::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}
/* reset default browser margin on <figure> */
figure {
  margin: 0;
}
/* reset default browser margin, padding, & list on <nav><ul> */
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* remove `text-decoration` and `color` for all links */
a {
  text-decoration: none;
  color: unset;
}
/* restore hover text-decoration; best practice  for footer__link */
a.footer__link:hover {
  text-decoration: underline;
}

/***************************/
/********** UNITY **********/
/***************************/
/* TODO */
:root {
  --title_font-size: 1.5em;
  --title_margin-block-end: 1em;
  --list_padding-inline-start: 1em;
  --container_padding-inline: 1.25rem;
  --container_max-width-mobile: 32rem;
  --header_padding-block: 1em;
  --location_padding-block: 1.25em;
  --location__title__icon_margin-inline-end: 1em;
}

/*****************************/
/********** UTILITY **********/
/*****************************/
.__text-center {
  text-align: center;
}
.__flex-center-block,
.__flex-center {
  display: flex;
  align-content: center;
  align-items: center;
}
.__flex-center-inline,
.__flex-center {
  display: flex;
  justify-content: center;
}
.__title {
  font-size: 1.5em;
  margin-block: 0;
  /* margin-bottom: 1.5rem; */
  /* margin-bottom: 1em; */
  margin-block-end: 1em;
}
.__list {
  /* margin: 0 auto; */
  margin-block: 0;

  /* let some space for the counter in ::marker */
  /* padding-left: 1em; */
  padding-inline-start: 1em;

  /* flex item in column */
  display: flex;
  flex-direction: column;

  /* reset list-style to disable ::marker */
  list-style: none;
  /* and reset left padding */
  /* padding-left: 0; */
  padding-inline-start: 0;
}

/********** CONTAINER **********/
.container {
  /* horizontal center */
  /* margin: 0 auto; */
  margin-block: 0;
  margin-inline: auto;

  /* --container_min-width: 320px; */
  /* --container_max-width: 1600px; */
  --container_min-width: 20rem;
  --container_max-width: 100rem;
  /* width to 100% or max-width */
  width: 100%;
  /* !!! DOES NOT PASS CSS VALIDATION !!! */
  /* width: min(100%, var(--container_max-width)); */
  width: min(100%, 20rem);
  min-width: var(--container_min-width);
  max-width: var(--container_max-width);
  /* calculate width w/ minimum, preferred, or max */
  /* !!! DOES NOT PASS CSS VALIDATION !!! */
  /* width: clamp(var(--container_min-width), 100%, var(--container_max-width)); */
  width: clamp(20rem, 100%, 100rem);

  --container_padding-inline: 1.25rem;
  /* inner horizontal space around */
  /* padding: 0 var(--container_padding-inline); */
  padding-block: 0;
  padding-inline: var(--container_padding-inline);
}
/********** CONTAINER for MOBILE **********/
@media (max-width: 768px) or (max-width: 48rem) {
  .container {
    /* contain width to 32rem (512px) */
    max-width: 32rem;
  }
}

/********** HEADER & LOGO **********/
.header {
  /* vertical space around */
  /* padding: 1em 0; */
  padding-block: 1em;
}
.logo {
  line-height: 0;
}

/********** LOCATION **********/
.location {
  /* vertical space around */
  /* padding: 1.25em 0; */
  padding-block: 1.25em;
}
.location__title {
  margin-block: 0;
  font-size: 1em;
  font-weight: normal;
}
.location__title .icon {
  /* margin-right: 1em; */
  margin-inline-end: 1em;
}

/********** DISCOVER **********/
.discover {
  /* padding: 3em 0; */
  padding-block: 3em;
}
.discover__title {
  /* margin: 0 1em; */
  margin-inline: 1em;
}
.discover__text {
  /* margin: 1.5rem 0; */
  margin-block: 1.5rem;
  font-size: 1.125rem;
  font-weight: lighter;
}
.discover__link {
  /* padding: 1em 2em; */
  padding-block: 1em;
  padding-inline: 2em;
}

/********** WALKTHROUGH **********/
.walkthrough {
  /* padding: 3.25em 0; */
  padding-block: 3.25em;
}
.walkthrough__title {
  /* margin-bottom: 2rem; */
  margin-block-end: 2rem;
}
.walkthrough__list {
  gap: 1.5em;
}
.walkthrough__item {
  line-height: 1.5;
  /* padding: 2em 2.5em; */
  padding-block: 2em;
  padding-inline: 2.5em;
}
/* align item & content vertically */
.walkthrough__item,
.walkthrough__content {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
/* all sub item have the same text height */
.walkthrough__content,
.walkthrough__content .icon,
.walkthrough__text {
  line-height: inherit;
}
/* space after icon */
.walkthrough__item .icon {
  margin-right: 1.25em;
}
/********** WALKTHROUGH counter **********/
.walkthrough__list {
  /* not required for styling ::before, counter still works by default in <li> */
  counter-reset: walkthrough-counter;
}
.walkthrough__item {
  counter-increment: walkthrough-counter;
}
.walkthrough__item::before {
  /* display counter as needed */
  display: inline-block;
  content: counter(walkthrough-counter);

  /* numeric as tabular value (same size) */
  font-variant-numeric: tabular-nums;
}
/********** WALKTHROUGH counter position **********/
.walkthrough__item {
  --before-width: 1.5em;
  --before-half-width: calc(var(--before-width) / 2);
  /* ::before will be position to left: 0px - half its width */
  --before-left: calc(0px - var(--before-half-width));
  position: relative;
  /* let the space for the ::before element */
  /* margin-left: var(--before-half-width); */
  margin-inline-start: var(--before-half-width);
}
.walkthrough__item::before {
  /* make it square */
  width: var(--before-width);
  height: var(--before-width);
  line-height: var(--before-width);
  text-align: center;

  /* get the element out of the box */
  position: absolute;
  left: var(--before-left);
}

/********** RESTAURANT **********/
.restaurant {
  /* padding: 3.625em 0; */
  padding-block: 3.625em;
}
.restaurant__list {
  --gap: 1em;
  gap: var(--gap);
}
.restaurant__card {
  --desc_padding-block: 1.25em;
  --desc_padding-inline: 1em;
  --name_font-size: 1.25rem;
  --name_margin-block: 0.5rem;
  --location_font-size: 1em;
  /* total height for `restaurant_desc` */
  --desc_height: calc(
    var(--name_font-size) + var(--name_margin-block) + var(--location_font-size) +
      (2 * var(--desc_padding-block))
  );
}
.restaurant__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 11rem;
}
.restaurant__desc {
  line-height: 1;
  /* padding: 1.25em 1em; */
  /* padding-block: 1.25em; */
  padding-block: var(--desc_padding-block);
  /* padding-inline: 1em; */
  padding-inline: var(--desc_padding-inline);
}
.restaurant__name {
  font-size: 1.25rem;
  font-size: var(--name_font-size);
  margin: 0;
  padding: 0;
  /* margin-bottom: 0.5rem; */
  margin-block-end: 0.5rem;
}
.restaurant__location {
  font-size: 1em;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}
/* position restaurant__tag & restaurant__like */
.restaurant__card {
  position: relative;
}
.restaurant__link,
.restaurant__tag,
.restaurant__like {
  background-color: inherit;
}
.restaurant__tag {
  position: absolute;
  right: 0;
  top: 0;
  margin-block: var(--desc_padding-block);
  margin-inline: var(--desc_padding-inline);
  padding-block: 0.5em;
  padding-inline: 1em;
}
.restaurant__like {
  /* position at bottom right */
  position: absolute;
  right: 0;
  bottom: 0;
  /* align w/ `restaurant_desc` */
  margin-block: var(--desc_padding-block);
  margin-inline: var(--desc_padding-inline);
  /* same height as `restaurant_desc` - margin-block */
  /* display: inline-block; */
  height: calc(var(--desc_height) - (2 * var(--desc_padding-block)));
}
.restaurant__like input {
  display: none;
}
.restaurant__like label {
  cursor: pointer;
}
/* put the .icon-over on the left, and reveal when input is checked */
/* .restaurant__like__label {
  position: relative;
}
.restaurant__like__label .icon-over {
  position: absolute;
  left: 0;
}
.restaurant__like input + label .icon-over {
  background: inherit;
  color: transparent;
}
.restaurant__like input + label:hover .icon-over,
.restaurant__like input:checked + label .icon-over {
  color: inherit;
} */
/* seems like we dont need .icon-over w/ FontAwesome, .fa-solid is `font-weight: bold` */
.restaurant__like .icon {
  font-weight: inherit;
}
.restaurant__like input + label:hover,
.restaurant__like input:checked + label {
  font-weight: bold;
}

/********** FOOTER **********/
.footer {
  padding-block: 1.5em 2.25em;
}
.footer__logo {
  font-size: 1.25rem;
  font-weight: normal;
}
.footer__list {
  gap: 0.5em;
}
.footer__link .icon {
  margin-inline-end: 0.75em;
}

/****************************/
/********** TABLET **********/
/****************************/
@media (width > 768px) or (width > 48rem) {
  /********** WALKTHROUGH **********/
  .walkthrough__list {
    --nb-items: 3;
    display: grid;
    grid-template-columns: repeat(var(--nb-items), 1fr);
  }

  /********** RESTAURANT **********/
  .restaurant__list {
    --columns: 2;
    --gap: 1.5em;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
  }
}

/*****************************/
/********** DESKTOP **********/
/*****************************/
@media (width > 1024px) or (width > 64rem) {
  /********** RESTAURANT **********/
  .restaurant__list {
    --columns: 4;
    --gap: 2em;
  }
}
