/***************************/
/********** RESET **********/
/***************************/
*,
::before,
::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}
/* reset default browser margin on <figure> */
figure {
  margin: 0;
}
/* reset default browser margin, padding, & list on <nav><ul> */
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* remove `text-decoration` and `color` for all links */
a {
  text-decoration: none;
  color: unset;
}
/* restore hover text-decoration; best practice  for footer__link */
a.footer__link:hover {
  text-decoration: underline;
}

/*****************************/
/********** UTILITY **********/
/*****************************/
.__text-center {
  text-align: center;
}
.__flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/********** CONTAINER **********/
.container {
  /* horizontal center */
  margin: 0 auto;

  --container_min-width: 320px;
  --container_max-width: 1600px;
  /* width to 100% or max-width */
  width: 100%;
  /* !!! DOES NOT PASS CSS VALIDATION !!! */
  /* width: min(100%, var(--container_max-width)); */
  width: min(100%, 320px);
  min-width: var(--container_min-width);
  max-width: var(--container_max-width);
  /* calculate width w/ minimum, preferred, or max */
  /* !!! DOES NOT PASS CSS VALIDATION !!! */
  /* width: clamp(var(--container_min-width), 100%, var(--container_max-width)); */
  width: clamp(320px, 100%, 1600px);

  --container_padding-h: 20px;
  --container_padding-h: 1.25rem;
  /* inner horizontal space around */
  padding: 0 var(--container_padding-h);
}

/********** HEADER & LOGO **********/
.header {
  /* vertical space around */
  padding: 1em 0;
}
.logo.container {
  line-height: 0;
}

/********** LOCATION **********/
.location {
  /* vertical space around */
  padding: 1.25em 0;
}
.location__title {
  font-size: 1em;
  font-weight: normal;
}
.location__title .icon {
  margin-right: 1em;
}

/********** DISCOVER **********/
.discover .container {
  padding: 3em 2em;
}
.discover__title {
  margin: 0 1em;
}
.discover__text {
  margin: 1.5rem 0;
  font-size: 1.125rem;
  font-weight: lighter;
}
.discover__link {
  padding: 1em 2em;
}

/********** WALKTHROUGH **********/
.walkthrough {
  padding: 3.25em 0;
}
.walkthrough__title {
  margin: 0;
}
.walkthrough__list {
  margin: 2em auto 0;
  padding-left: 1em;
  /* item flex in column */
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.walkthrough__item {
  line-height: 1.5;
  padding: 2em 2.5em;
}
/* align item & content vertically */
.walkthrough__item,
.walkthrough__content {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
/* all sub item have the same text height */
.walkthrough__item * {
  line-height: inherit !important;
}
/* space after icon */
.walkthrough__item .icon {
  margin-right: 1.25em;
}
/********** WALKTHROUGH counter **********/
.walkthrough__list {
  /* reset list-style to disable ::marker */
  list-style: none;
  /* and reset left margin & padding */
  margin-left: 0;
  padding-left: 0;

  /* not required for styling ::before, counter still works by default in <li> */
  counter-reset: walkthrough-counter;
}
.walkthrough__item {
  counter-increment: walkthrough-counter;
}
.walkthrough__item::before {
  /* display counter as needed */
  display: inline-block;
  content: counter(walkthrough-counter);

  /* numeric as tabular value (same size) */
  font-variant-numeric: tabular-nums;
}
/********** WALKTHROUGH counter position **********/
.walkthrough__item {
  --before-width: 1.5em;
  --before-half-width: calc(var(--before-width) / 2);
  /* ::before will be position to left: 0px - half its width */
  --before-left: calc(0px - var(--before-half-width));
  position: relative;
  /* let the space for the ::before element */
  margin-left: var(--before-half-width);
}
.walkthrough__item::before {
  /* get the element out of the box */
  position: absolute;
  /* left: calc(0px - var(--before-half-width)); */
  left: var(--before-left);
  /* make it square */
  width: var(--before-width);
  height: var(--before-width);
  line-height: var(--before-width);
  text-align: center;
}
