.__slide-top {
  --duration: 0.25s;
  /* no delay apply first frame, finish in initial state */
  animation: slide-top var(--duration) ease-out backwards;
  /* delay animation for each item (based on --counter) */
  --counter: 1;
  --index: calc(var(--counter) - 1);
  --duration-x-index: calc(var(--duration) * var(--index));
  /* --delay-precede: -0.1s; */
  --delay-precede: 0s;
  --delay-calc: calc(var(--duration-x-index) + var(--delay-precede));
  --delay: max(0s, var(--delay-calc, 0s));
  animation-delay: var(--delay);
}

@keyframes slide-top {
  from {
    transform: translateY(2em);
    opacity: 0;
  }
}

/* Until now, we can NOT use counter() in calc() */
.__slide-top.i1 {
  --counter: 1;
}

.__slide-top.i2 {
  --counter: 2;
}

.__slide-top.i3 {
  --counter: 3;
}

.__slide-top.i4 {
  --counter: 4;
}

.__slide-top.i5 {
  --counter: 5;
}

.__slide-top.i6 {
  --counter: 6;
}

.__slide-top.i7 {
  --counter: 7;
}

.__slide-top.i8 {
  --counter: 8;
}

.__slide-top.i9 {
  --counter: 9;
}

.__slide-top.i10 {
  --counter: 10;
}

/********** #main **********/
#main {
  background-color: var(--color-white);
  border: 0 solid;
  border-top-left-radius: var(--top);
  border-top-right-radius: var(--top);
}

/********** .courses__title **********/
.courses__title {
  display: inline-block;
  /* border-bottom: 3px solid var(--color-valid); */
}

/* border like */
.courses__title::after {
  content: "";
  display: block;
  margin-block-start: 0.5em;
  height: 3px;
  width: 50%;
  background-color: var(--color-valid);
}

/* shift left even courses__title */
.courses__section:nth-child(even)>.courses__title {
  margin-inline-start: 2.25rem;
}

/********** .course **********/
.course__card {
  border-radius: 0.75rem;
}

.course__desc {
  background-color: white;
}