/********** #splash **********/
#splash {
  /* don't move */
  position: fixed;
  /* all available screen space */
  height: 100vh;
  width: 100%;
  /* default color, opaque to hide the page content */
  background-color: white;
  /** animation initial state **/
  z-index: -1;
  opacity: 0;
  animation: fade-over ease-out;
  /* animation-name: fade-over;
  animation-timing-function: ease-out; */
}
@keyframes fade-over {
  from {
    z-index: 10;
  }
  to {
    z-index: 10;
    opacity: 1;
  }
}

/********** .fade-in **********/
#splash.fade-in {
  --fade-in_duration: 2s;
  --fade-in_delay: 1s;
  animation: fade-over var(--fade-in_duration) ease-out var(--fade-in_delay);
  /* animation-duration: var(--fade-in_duration);
  animation-delay: var(--fade-in_delay);
  animation-direction: normal; */

  /*
  * initial state:
      z-index: -1;
      opacity: 0;

  * first frame:
      z-index: 10;

  * final state:
      z-index: 10;
      opacity: 1;
  */

  /* delay then apply first frame, finish in initial state */
  animation-fill-mode: none;

  /* no delay apply first frame, finish in initial state */
  /* animation-fill-mode: backwards; */
  /* delay then apply first frame, finish in final state */
  /* animation-fill-mode: forwards; */
  /* no delay apply first frame, finish in final state */
  /* animation-fill-mode: both; */
}

/********** .fade-out **********/
#splash.fade-out {
  --fade-out_duration: 2s;
  --fade-out_delay: 1s;
  animation: fade-over var(--fade-out_duration) ease-out var(--fade-out_delay)
    reverse;
  /* animation-duration: var(--fade-out_duration);
  animation-delay: var(--fade-out_delay);
  animation-direction: reverse; */

  /*
  * initial state:
      z-index: -1;
      opacity: 0;

  * first frame:
      z-index: 10;
      opacity: 1;

  * final state:
      z-index: 10;
  */

  /* delay then apply first frame, finish in initial state */
  animation-fill-mode: none;

  /* no delay apply first frame, finish in initial state */
  /* animation-fill-mode: backwards; */
  /* delay then apply first frame, finish in final state */
  /* animation-fill-mode: forwards; */
  /* no delay apply first frame, finish in final state */
  /* animation-fill-mode: both; */
}

/********** .fade-in-out **********/
#splash.fade-in-out,
#splash.fade-in-show,
#splash.fade-out-show {
  --fade-in_duration: 1s;
  --fade-in_delay: 0.5s;
  --fade-in_finish: calc(var(--fade-in_delay) + var(--fade-in_duration));

  --show-over_duration: 3s;
  /* --show-over_delay: 1s; */
  --show-over_delay: var(--fade-in_finish);
  --show-over_finish: calc(var(--show-over_delay) + var(--show-over_duration));

  --fade-out_duration: 1s;
  /* --fade-out_delay: 4s; */
  --fade-out_delay: var(--show-over_finish);

  animation: fade-over var(--fade-in_duration) ease-out var(--fade-in_delay),
    show-over var(--show-over_duration) ease-out var(--show-over_delay),
    fade-over var(--fade-out_duration) ease-out var(--fade-out_delay) reverse;

  /*
  * initial state:
      z-index: -1;
      opacity: 0;

  * fade-in -- first frame:
      z-index: 10;

  * fade-in -- final state:
      z-index: 10;
      opacity: 1;

  * fade-out -- first frame:
      z-index: 10;
      opacity: 1;

  * fade-out -- final state:
      z-index: 10;
  */

  /* delay then apply first frame, finish in initial state */
  /* animation-fill-mode: none, none, none; */

  /* no delay apply first frame, finish in initial state */
  /* animation-fill-mode: backwards, backwards, backwards; */

  /* delay then apply first frame, finish in final state */
  /* animation-fill-mode: forwards, forwards, forwards; */

  /* no delay apply first frame, finish in final state */
  /* animation-fill-mode: both, both, both; */
}
@keyframes show-over {
  from, to {
    z-index: 10;
    opacity: 1;
  }
}

#splash.fade-in-show {
  --fade-in_duration: 1s;
  --fade-in_delay: 0.5s;

  --show-over_duration: 3s;

  --fade-out_duration: 0s;
}
#splash.fade-out-show {
  --fade-in_duration: 0s;
  --fade-in_delay: 0s;

  --show-over_duration: 3s;

  --fade-out_duration: 1s;

  /*
  * initial state:
      z-index: -1;
      opacity: 0;

  * show-over -- first frame:
      z-index: 10;
      opacity: 1;

  * show-over -- final state:
      z-index: 10;
      opacity: 1;

  * fade-out -- first frame:
      z-index: 10;
      opacity: 1;

  * fade-out -- final state:
      z-index: 10;
  */
}

#splash.show-fade {
  --show-over_duration: 3s;
  --fade-out_duration: 1s;
  --show-fade_duration: calc(var(--show-over_duration) + var(--fade-out_duration));

  animation: show-fade var(--show-fade_duration) linear;
}
@keyframes show-fade {
  /* show-over, duration to % => 3 / (3 + 1) */
  from, 75% {
    z-index: 10;
    opacity: 1;
  }
  /* fade-out */
  to {
    z-index: 10;
  }
}
