<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loader | OhMyFood</title>
  <link rel="stylesheet" href="./loader.css">
  <style>
    /* keep it visible always on this page */
    /* #splash.show-fade {
      z-index: 10;
      opacity: 1;
      animation: none;
    } */
  </style>
</head>

<body>
  <!--\\\\\\\\\\ SPLASH SCREEN //////////-->
  <div id="splash" class="show-fade">
    <div id="loader" class="neon neon-box neon__light-shrink_animation">
      <span class="logo text__ohmyfood font-size_stretch__vw">ohmyfood</span>
    </div>
  </div>

  <!--\\\\\\\\\\ PAGE CONTENT //////////-->
  <div style="font-size: 3rem;">Page Content</div>
</body>

</html>