<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Font Size stretch</title>
  <link rel="stylesheet" href="./font-size_stretch.css">
  <style>
    *,
    ::before,
    ::after {
      box-sizing: border-box;
    }

    html,
    body {
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <div>
    <span class="text__ohmyfood font-size_stretch__vw" style="--width__vw: 80vw;">ohmyfood</span>
  </div>
</body>

</html>